h1{
    color:red;
}

.forecastDay{
    height: auto;
    width: 15%;
    border: 1px solid black;
    border-radius: 3px;
    background-color: skyblue;
    color: white;
    margin: 10px 5px;

}

.forecastIcon{
    width: 40%;
    height:40%;
}

.hide{
    display: none;
}

.savedSearchEl span:hover{
    color:red;
}